h1 {
	padding:25px;
	border:10px solid black;
	margin: 10px;
	text-align: center;
}

body{
	background-image: url(gray.jpg);
}
img{
	margin: 10px;
	width: 700px;
	position: relative;
	border:3px solid blue;
	left: 225px;
}

/*font in winddings for fun*/
p{
	font-family: wingdings;
}

.table{
	width: 400px;
	height: 100px;
	font-weight: bold;
}
a:visited {
	color: red;
}
a:hover{
	color:black;
}
#ordered-list {
	padding:25px;
	font-size: 1.5em;
	text-align: left;
}
@media only screen and (max-width: 500px) {
    p {
        color: orange;
    }
}