h1 {
	padding:25px;
	border:10px solid black;
	margin: 10px;
	text-align: center;
}

body{
	background-image: url(gray.jpg);
}
img{
	margin: 10px;
	width: 700px;
	position: relative;
	border:3px solid blue;
	left: 225px;
}

/*font in winddings for fun*/
p{
	font-family: wingdings;
}